* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

body {
    background-color:cornflowerblue;
    /* display: flex; */
    font-family: Arial;
}
h1,h2,h3 {
    color: blue;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
}